#menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .menu_bg {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    background-image: url("../../../assets/init_bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(6px);
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  p {
    color: white;
    text-shadow: 1.5px 1.5px 0px rgba(75, 75, 75, 0.8);
  }
}

.menu-content {
  position: relative;
  z-index: 1;
}

#main-menu {
  --btn-size: 30px;
  width: calc(var(--btn-size) * 10);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;

  img {
    width: 130%;
    height: auto;
  }
}

#buttons {
  display: grid;
  grid-template-columns: var(--btn-size) calc(var(--btn-size) * 10) var(
      --btn-size
    );
  grid-template-rows: repeat(3, var(--btn-size));
  grid-template-areas: 
  ". 		first 		."
  ". 		second 		."
  ". 		third 		.";
  grid-gap: 8px;

  & .mc-button:nth-child(1) {
    grid-area: first;
  }

  & .mc-button:nth-child(2) {
	grid-area: second;
  }

  & .mc-button:nth-child(3) {
	grid-area: third;
  }
}