.backpacker-popup {
    background: transparent;
    border-radius: 8px;
    background-image: url('../../../assets/gui/backpacker.png');
    background-size: cover;
    width: 528px;
    height: 294px;
}