@font-face {
  font-family: "Minecraft";
  src: url("../assets/Minecraft.woff") format("woff");
}

body {
  font-family: "Minecraft", mono;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;

  margin: 0;
  padding: 0;
  overflow: hidden;
}

._canvas_wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
